{% extends "library/base.html" %}
{% block content %}
    {% for book in books %}

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ book.author }}</a>
              <small class="text-muted">{{ book.binding }}</small>
            </div>
            <h2><a class="book-name" href="#">{{ book.name }}</a></h2>
            <p class="book-description">{{ book.description }}</p>
          </div>
        </article>

    {% endfor %}
{% endblock %}
