{% extends "library/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="content-section">
         <h2 class="account-heading">{{ user.name }}{{ user.middleName }}{{ user.surname }}</h2>
         <p class="text-secondary">{{ user.username }} </p>
         <p class="text-secondary">{{ user.email }}</p>

    </div>
{% endblock content%}
